<!DOCTYPE html>
<html>
  <head>
    <title>ParlayApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class='container'>
    	<div class='brand-header'>
    		<h1>Parlay App</h1>
    	</div>
      <div class="row">
        <div class="auth-container">
          <div class="panel panel-auth">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>